<div class='fxRow'>
  <header class='fxCol jcStart aiStr my-0'>
    <button class='my-2 fxCol jcBtwn' (click)='this.showNav = !this.showNav'>
      <div class='barX' [ngClass]="{'right45': this.showNav}"></div>
      <div class='barX' [ngClass]="{'fade': this.showNav}"></div>
      <div class='barX' [ngClass]="{'left45': this.showNav}"></div>
    </button>
    <nav *ngIf='this.showNav'>
      <div class='barX'></div>
      <li class='my-2'><a routerLink='' routerLinkActive="active">Tv Stand</a></li>
      <div class='barX'></div>
      <li class='my-2'><a routerLink='desk' routerLinkActive="active">Computer Desk</a></li>
      <div class='barX'></div>
    </nav>
  </header>
  <div class='barY my-2'></div>
  <div class='view'>
    <router-outlet></router-outlet>
  </div>
</div>